* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  /* font-size: 62.5%; /* makes 1rem 10px */
}

body {
  /* font-size: 1.6em; /* default font of 16px */
}

.css-3b4o5k-MuiButtonBase-root-MuiButton-root {
  text-decoration: underline !important;
}
.css-2c6ikk-MuiFormLabel-root-MuiInputLabel-root {
  font-weight: 500 !important;
  color: black !important;
}
.css-aev0vj-MuiFormHelperText-root {
  color: var(--mui-palette-error-main) !important;
}
.btn--upload__icon {
  position: absolute !important;
  max-width: 30px !important;
  max-height: 30px !important;
  min-width: 30px !important;
  min-height: 30px !important;
  border-radius: 50% !important;
  bottom: 0px !important;
  right: 0px !important;
}
